
@using kuyua.tree.cover.loss.UI.models
<div class="row">
country: <input type="text" @bind="@country" @oninput="(e)=> { country = e.Value ==null? string.Empty:(string)e.Value; }" />
</div>
<div class="row">
city: <input type="text" @bind="@city" @oninput="(e)=> { city = e.Value ==null? string.Empty:(string)e.Value; }" />
</div>
<div class="row">
street: <input type="text" @bind="@street" @oninput="(e)=> { street = e.Value ==null? string.Empty:(string)e.Value; }" />
</div>
<div class="row">
   zip-code: <input type="text" @bind="@zipcode" @oninput="(e)=> { zipcode = e.Value ==null? string.Empty:(string)e.Value; }" />
</div>
<Button class="mt-3" Color="ButtonColor.Success" Type="ButtonType.Button" @onclick="OnClickCallback">
    add location
</Button>

@code {
    private string? country;
    private string? city;
    private string? street;
    private string? zipcode;
    private Location? location;

    [Parameter] public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    protected override void OnInitialized()
    {
        
        base.OnInitialized();
    }
}

